//###### 博客内容透明化 ######

:root {
  --content-bg-color:#ffb3b3e6;
}

body {

    background:url(/images/background.png);

    background-repeat: no-repeat;

    background-attachment:fixed; //不重复

    background-size: cover;      //填充

    background-position:50% 50%;

}

.post-block{
  background-color: #ffb3b3e6;
  border-style:solid;
  border-width:20px;
  border-color:#ffb3b3e6;
}

.btn{
  background-color: #ffffff;
  border-style:solid;
  border-width:5px;
}